.footer-social-logo {
  display: none ;
}
.monitoring-bg-mob {
  display: none;
}
@media (max-width: 991px) {
  header {
    &.about {
      overflow: hidden;
      background: url("/images/backgrounds/header-vector.svg") -762px -301px no-repeat, url("/images/backgrounds/rectangle.svg") 100% 100% no-repeat, linear-gradient(1deg, #220b6d, #4b33c2) !important;
      .header-title {
        margin: 52px 5px 130px 5px !important;
        .title {
          font-size: 40px !important;
        }
        .subtitle {
          width: unset!important;
          margin: 20px 0 0 0 !important;
        }
      }
    }
    background:url("/images/backgrounds/header-vector.svg") -117% -78px no-repeat, url("/images/backgrounds/header-vector1.svg") -22px 100% no-repeat, linear-gradient(1deg, #220b6d, #4b33c2) !important;
  }
  .logo h5 {
    margin-left: -50px;
    height: unset !important;
  }
  .title {
    font-size: 2em;
  }
  section {
    .post-press {
      .title {
        font-size: 1.5em;
      }
      .subtitle {
        margin: unset !important;
      }
    }
  }
}
@media (max-width: 767px) {
  header {
    .header-title {
      margin: 50px 5px 20px 5px!important;
      .title, .subtitle {
        text-align: center!important;
      }
      .title {
        font-size: 2.25rem!important;
      }
      .subtitle {
        margin: 37px !important;
        width: unset !important;
      }
      .btn-papayabot {
        display: flex!important;
        margin: auto!important;
      }
    }
  }
  section {
    .post-press {
      margin-top: 20px;

    }
    &.custom {
      padding: 80px 50px !important;
      background: #f8f8fe !important;
      margin-left: 22px;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      &.revers {
        margin-left: unset!important;
        margin-right: 22px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
      }
      .custom-bg {
        width: calc(100% - 23%)  !important;
      }
        .out_team {
          margin-top: 3rem !important;
          .about-team {
            padding: 15px 30px 15px 30px !important;
        }
      }
    }
    .custom-content {
      flex-direction: column-reverse;
      .header-title {
        margin-top: 70px;
      }
    }
    &.standard {
      .bitmap-two-bg {
        margin: auto !important;
        width: calc(100% - 23%)  !important;
      }
      .header-title {
        margin-top: 50px;
      }
    }
    &.transfer {
      background: url(/images/icons/medium-chat-messege.png) 124% 27px no-repeat,
      url(/images/icons/deff-yen.svg) 96% 47% no-repeat,
      url(/images/icons/deff-eu.svg) 67% 26% no-repeat,
      url(/images/icons/deff-doll.svg) 16% 95% no-repeat,
      url(/images/icons/rocket-rigth.svg) 76% 83% no-repeat,
      url(/images/icons/rocket.svg) 6% 27% no-repeat,
      url(/images/icons/chat-messege.png) -34% 89% no-repeat,
      #f9f9fe !important;
    }
    .deff-content {
      display: flex;
      .icons {
        margin-right: 25px;
      }
    }
    .deff-content {
      display: flex;
      .icons {
        margin-right: 25px;
      }
    }
  }
}
@media (max-width: 425px){
 header {
   &.about {
       .faq-svg {
         width: 100%;
       }
     background: url(/images/backgrounds/header-vector.svg) 102% -250px no-repeat, url(/images/backgrounds/rectangle.svg) 100% 100% no-repeat, linear-gradient(1deg, #220b6d, #4b33c2) !important;
     .title {
       text-align: left !important;
     }
     .subtitle {
       text-align: left !important;
       margin: 5px 12px 5px 12px !important;
     }
   }
    padding: 20px !important;
    .logo {
      .title-logo {
        padding: unset !important;
        margin-left: unset !important;
      }
    }
   .header-title {
     .title {
       font-size: 25px !important;
     }
     .subtitle {
       font-size: 15px !important;
       margin: 20px 12px 45px 12px !important;
     }
   }
 }
  section {
      .post-press {
        .title {
          font-size: 1.4em !important;
        }
      }
    &.custom {
      margin-left: unset !important;
      border-top-left-radius: unset !important;
      border-bottom-left-radius: unset !important;
      &.revers {
        margin-right: unset !important;
        border-top-right-radius: unset !important;
        border-bottom-right-radius: unset !important;
      }
      .out_team {
        margin-top:  1em !important;
      }
    }
    &.contact {
      background: url(/images/icons/deff-yen.svg) 119% 68% no-repeat, url(/images/icons/bitcoin.svg) 82% 3% no-repeat, url(/images/icons/deff-doll.svg) 10% 108% no-repeat, url(/images/icons/rocket-rigth.svg) 95% 95% no-repeat, url(/images/icons/rocket.svg) -5% 15% no-repeat, linear-gradient(to top, #281075, #4b33c2) !important;
    }
    padding: 0 28px;
    margin-top: 25px !important;
    .mt-100 {
      margin-top: unset!important;
    }

    .title {
      margin: 11px 0 !important;
      font-size: 25px !important;
    }
    &.monitoring {
      .title {
        padding: 0 30px;
      }
      .monitoring-bg-mob {
        display: block;
      }
      .monitoring-bg {
        display: none;
      }

    }
    &.transfer {
      background:url(/images/icons/medium-chat-messege.png) 172% 31px no-repeat,
      url(/images/icons/deff-yen.svg) 103% 76% no-repeat,
      url(/images/icons/deff-eu.svg) 41% 15% no-repeat,
      url(/images/icons/bitcoin.svg) 7% 58% no-repeat,
      url(/images/icons/rocket-rigth.svg) 89% 92% no-repeat,
      url(/images/icons/rocket.svg) 11% 25% no-repeat,
      url(/images/icons/chat-messege.png) -180% 103% no-repeat,
      #f9f9fe !important;
      .title {
        padding: 0 30px;
      }
      .transfer-setting {
        padding: 0 30px !important;
        margin-top: -235px !important;
        .box {
          flex-direction: column !important;
          padding: 5px 20px !important;
          align-items: unset !important;
            .transfer-param {
              align-items: center;
              justify-content: space-between;
              display: flex;
              padding: 5px 20px !important;
              .subtitle {
                width: unset!important;
              }
              .title {
                padding: unset!important;
              }
            }
        }
      }
    }
    &.standard {
      .mobile-about {
        display: none;
      }
      .our_partners {
        margin-top: 1rem !important;
        flex-direction: column !important;
        img {
          margin: 15px 5px 15px 5px;
        }
      }
    }

    &.faq {

      .title {
        font-size: 20px !important;
      }
      .accordion {
        a {
          padding: 15px 60px 15px 30px !important;
        }
      }
      .accordion-title {
        .title {
          font-size: 11px !important;
        }
      }
    }
  }
}
@media (max-width: 320px){
  header {
    .title-logo {
      font-size: 20px !important;
    }
    .header-title {
      .title {
        font-size: 19px !important;
      }
    }
  }
  section {
    padding: 20px 13px;
    .title {
      font-size: 20px !important;
    }
    .subtitle {
      font-size: 14px !important;
    }
   &.custom {
     padding: 15px 15px !important;
   }
    &.transfer {
      background: url(/images/icons/medium-chat-messege.png) 315% -19px no-repeat,
      url(/images/icons/deff-doll.svg) 44% 11% no-repeat,
      url(/images/icons/bitcoin.svg) 108% 58% no-repeat,
      url(/images/icons/rocket-rigth.svg) 86% 87% no-repeat,
      url(/images/icons/rocket.svg) -6% 14% no-repeat,
      url(/images/icons/chat-messege.png) 212% 103% no-repeat ,
      #f9f9fe !important;
    }
    &.terms {
      .title-logo {
        font-size: 15px !important;
      }
    }
  }
}


@media (max-width: 576px) {
  .pages-links {
    flex-direction: column;
  }
  .footer-logo {
    display: none;
  }
  .social {
    display: flex;
    justify-content: center;
    .footer-social-logo {
      display: block !important;
      margin: auto;
      margin-left: unset;
    }
    .social-icon ul li {
      margin: 15px 0;
    }
  }

}


@media (min-width: 768px) {
  .our_partners {
    display: flex;
    justify-content: space-between;
  }
  .our_partners_mob {
    display: none !important;

  }
}
@media (max-width: 768px) {
  .our_partners {
    display: none !important;
  }
  .our_partners_mob {
    display: flex !important;
    justify-content: space-between;

  }
}
@media (max-width: 425px) {
  .our_partners_mob {
    flex-direction: column !important;
    margin-top: 1rem !important;
    img {
      margin-top: 32px;
    }
  }
}