// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'media';
@import "font/Gerbera-Regular.css";  // gerbera-reg
@import "font/Gerbera-Black.css";  // GerberaBlack
@import "font/Gerbera-Bold.css";  // GerberaBold
  @import "font/Gerbera-Light.css";  // GerberaLight
@import "font/Gerbera-Medium.css";  // GerberaMedium
@import url('https://fonts.googleapis.com/css?family=Hind:300,400');
// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Variables
@import 'variables';

/* HERE STARTS THE MAGIC */

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);
* {
  font-family: GerberaLight;
}

.btn {
  margin: unset;
  text-transform: none;
  border-radius: 5px;
  font-weight: 500 !important;
  box-shadow: unset;
}

.title {
  font-size: 40px;
  color: #000;
  font-family: GerberaBold;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing:0;
}
.title-sm {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.53;
  letter-spacing: 1.9px;
  text-align: center;
  color: #242429;
}



nav {
.nv-bar {
  align-items: center;
   li {
   color: black;
  + li {
    margin-left: 38px !important;
  }
    .nav-link {
      font-size: 15px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.73;
      letter-spacing: normal;
      color: #26252a;
    }

    .btn {
      &.btn-login {
        background: white;
        color: black !important;
        border: 1px solid #c5c5c5;
        padding: 9px 30px !important;
      }
      &.btn-register {
        background: #211265;
        color: white !important;
        border: 1px solid #211265;
        padding: 9px 20px !important;
      }
    }
  }
}
}

.header-bg {
  background: url("/images/background/head-bg.png");
  background-size: cover;
  background-position: center;
  .title {
    font-size: 51px;
    color: white;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing:0;
  }
  .subtitle {
    font-family: GerberaLight;
    opacity: 0.8;
    font-weight: unset;
    font-size: 19px;
    line-height: 1.84;
    letter-spacing: -0.5px;
    color: #ffffff;
  }
  .btn {
    &.btn-opacity {
      background: #21126508;
      color: white !important;
      border: 1px solid #ffffff;
      padding: 14px 30px !important;
    }
    &.btn-head {
      background: white;
      font-weight: 600 !important;
      color: #211265 !important;
      border: 1px solid #c5c5c5;
      padding: 14px 47px !important;
    }
  }
}

.partners {
  .title-sm {
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.53;
    letter-spacing: 1.9px;
    text-align: center;
    color: #242429;
  }
  .title {
    font-size: 40px;
    color: #000;
    font-family: GerberaBold;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing:0;
  }
  .subtitle {
    font-family: GerberaLight;
    opacity: 0.8;
    font-weight: unset;
    font-size: 17px;
    line-height: 1.84;
    letter-spacing: -0.5px;
    color: #000;
  }
}
footer {
  color: white;
  padding: 120px 0 15px 0;
  background: url(/images/background/untitled-6.svg) no-repeat,url(/images/background/mask.svg)no-repeat;
  background-size: cover, cover;
  .social {
    justify-content: space-evenly;
    a {
      text-decoration: none !important;
      font-size: 15px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.73;
      letter-spacing: normal;
      color: #ffffff !important;
    }
  }
 ul {
   list-style-type: none;

   p {
     font-size: 17px;
     font-weight: bold;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: normal;
     color: #ffffff;
   }
  li {
      font-size: 15px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.73;
      letter-spacing: normal;
      color: #948dc0;
  }
 }
  .logo {
    li .logo-footer {
      margin: 0 0 29px 0;
    }
    li {
      font-size: 15px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.73;
      letter-spacing: normal;
      color: #948dc0;

    }
  }
  .policy {
    margin-top: 58px;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #7d76b1;
  }
}



input[type=date], input[type=datetime-local], input[type=email], input[type=number], input[type=password], input[type=search-md], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], textarea.md-textarea {
  background-color: transparent;
  border: none;
  border: 1px solid #bdbdbd;
  border-radius: 0;
  outline: 0;
  height: 2.1rem;
  width: unset;
  font-size: 1rem;
  box-shadow: none;
  box-sizing: content-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=search-md]:focus:not([readonly]), input[type=search]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=url]:focus:not([readonly]), textarea.md-textarea:focus:not([readonly]) {
  border: 1px solid #4285F4;
  box-shadow: 0px 0px 1px 0 #4285F4;
}

.contact-us {
  background: url(/images/background/contact-us.png);
  background-size: cover;
  background-position: center;
  .form-control {
    border-radius: 4px;
    border: solid 1px #d1cdef;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #84819b;
    &.inputform {
      padding: 24px 19px 24px 19px;
    }
  }
  label {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.86;
    letter-spacing: 0.3px;
    color: #211265;

  }
  .btn-contact {
    width: 100%;
    background: #211265;
    border: 1px solid #211265;
    padding: 14px;
  }
}

.char {
  padding: 100px;
  background-image: linear-gradient(to bottom, rgba(250, 250, 252, 0.24), #ebebf106);
  background-position: center,center;
  .transfer {
    border-radius: 6px;
    background: url(/images/background/transfer.svg) no-repeat,radial-gradient(circle at 45% 10%, #4b28bf, #15084e);
    background-size: cover, cover;
    padding: 65px;
  }
}
.features {
  .cart-stable {
    cursor: pointer;
    padding: 70px 25px 70px 25px;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
    &:hover {
      box-shadow: 14px 36px 83px 0 rgba(102, 96, 121, 0.17);
      transition: all 0.2s ease-in;
    }
    .cart-description {
      height: 100px;
      margin-top: 60px;
        .title {
          font-size: 20px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.35;
          letter-spacing: -0.5px;
          color: #000000;
        }
      .subtitle {
        margin-top: 20px;
        font-size: 17px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.65;
        letter-spacing: normal;
        text-align: center;
        color: #424051;
      }
    }
  }
}

.confidence {
  padding: 100px 0 100px 0;
  margin-left: calc(100% - 90%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: url(/images/background/confirm.svg) no-repeat, radial-gradient(circle at 36% 42%, #4b28bf, #190a58 65%, #0e0244), #ffff;
  background-size: 100% 100%;
  background-position: center;
  .secretTitle {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.07;
    letter-spacing: 1.4px;
    color: #c1a5ff;
  }
  .subtitle {
    font-size: 17px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.65;
    letter-spacing: normal;
    color: #ffffff;
    opacity: 0.8;
  }
  .conf-bg {
    border-radius: 12px;
    overflow: hidden;

    width: 100%;
    height: 500px;
    margin-left: auto;
  }
  .confirm-item {
    border-radius: 5px;
    display: flex;
    background: white;
    padding: 55px 42px 58px 59px;
    box-shadow: 8px 27px 69px 0 rgba(102, 96, 121, 0.13);
    .subtitle {
      margin-left: 45px;
      font-size: 17px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.65;
      letter-spacing: normal;
      color: #000000;
      b{
        font-weight: bold;
      }
    }
  }
}





///slider


/* Slick Slider Css Ruls */

.slick-slider {
  position: relative;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0
}

.slick-list:focus {
  outline: none
}

.slick-list.dragging {
  cursor: hand
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''
}

.slick-track:after {
  clear: both
}

.slick-loading .slick-track {
  visibility: hidden
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px
}

.slick-slide.dragging img {
  pointer-events: none
}

.slick-initialized .slick-slide {
  display: block
}

.slick-loading .slick-slide {
  visibility: hidden
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent
}

.img-fill {
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center
}

.img-fill img {
  height: 100%;
  min-width: 100%;
  position: relative;
  display: inline-block;
  max-width: none
}
/* Slider Theme Style */

.Container {
  padding: 0 15px;
}

.Container:after,
.Container .Head:after {
  content: '';
  display: block;
  clear: both;
}

.Container .Head {
  font: 20px/50px NeoSansR;
  color: #222;
  height: 52px;
  over-flow: hidden;
  border-bottom:1px solid rgba(0,0,0,.25);
}

.Container .Head .Arrows {
  float: right;
}

.Container .Head .Slick-Next,
.Container .Head .Slick-Prev {
  display: inline-block;
  width: 38px;
  height: 38px;
  margin-top: 6px;
  background: #2b2b2b;
  color: #FFF;
  margin-left: 5px;
  cursor: pointer;
  font: 18px/36px FontAwesome;
  text-align: center;
  transition: all 0.5s;
}

.Container .Head .Slick-Next:hover,
.Container .Head .Slick-Prev:hover {
  background: #33687a;
}

.Container .Head .Slick-Next:before {
  content: '\f105'
}

.Container .Head .Slick-Prev:before {
  content: '\f104'
}

.SlickCarousel {
  margin: 0 -7.5px;
  margin-top: 10px;
}

.ProductBlock {
  padding: 0 7.5px;
}

.ProductBlock .img-fill {
  height: 200px;
}

.ProductBlock h3 {
  font: 15px/36px RalewayR;
  color: #393939;
  margin-top: 5px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, .25);
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
}



