
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@font-face {font-family: "Gerbera";
  src: url("//db.onlinewebfonts.com/t/994fa1f12fbd90502c95b68c33efc23c.eot");
  src: url("//db.onlinewebfonts.com/t/994fa1f12fbd90502c95b68c33efc23c.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/994fa1f12fbd90502c95b68c33efc23c.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/994fa1f12fbd90502c95b68c33efc23c.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/994fa1f12fbd90502c95b68c33efc23c.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/994fa1f12fbd90502c95b68c33efc23c.svg#Gerbera") format("svg");
}
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.title {
  font-family: Gerbera;
  font-weight: 400;
  color: #fff;
  margin: 0;
  &.header {

    font-size: 44px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: -0.4px;
    color: #ffffff;
  }
}
.subtitle {
  width: 70%;
  opacity: 0.85;
  font-size: 17px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.65;
  letter-spacing: normal;
  color: #ffffff;
  margin: 18px 0 26px;
}
html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}


header {
  background: url("/images/backgrounds/header-vector.svg") 122% -1px no-repeat,
  url("/images/backgrounds/header-vector1.svg") -24px 100% no-repeat,
  linear-gradient(1deg, #220b6d, #4b33c2);
  padding: 30px 50px 50px 50px;
  .title-logo {
    padding: 30px 0 0px 0;
    height: 30px;
    object-fit: contain;
    font-family: Gerbera;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: -0.5px;
    color: #ffffff;
  }
  .home-bg {
    content: url("/images/backgrounds/header.png");
  }
  .btn-papayabot {
    color: #5438dc;
    font-weight: bold;
    font-style: normal;
    font-family: Gerbera;
    font-size: 15px;
    font-stretch: normal;
    line-height: 2.07;
    letter-spacing: normal;

    background-color: #ffffff;
    padding: 9px 44px 10px 45px;
  }
  .header-title {
      margin: 0px 5px 130px 5px;
  }
}

section {
  margin-top: 60px;

}


.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}



.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}




.social-icon {
  ul {
    flex-direction: row !important;
  }
  @media (max-width:  992px) {
    position: relative;
    ul {
      flex-direction: row !important;
      justify-content: center;
      margin: auto;
    }
  }
}

@media (max-width:  992px) {
  .navbar-nav {

    a {
      margin: 10px !important;

    }
  }

}


.social-icon ul li {

  margin: 15px;
  margin-top: unset;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  @media (min-width: 992px) {
    &:hover {
      .youtube {
        content: url("/images/icons/social/youtube.svg");
      }
      .facebook {
        content: url("/images/icons/social/facebook.svg");
      }
      .instagram {
        content: url("/images/icons/social/instagram.svg");
      }
    }

  }
}
.icon {
  display: flex;
  margin: auto;
  width: auto;
  transition: all .3s ease;
  &.youtube {
    content: url("/images/icons/social/youtube-deff.svg");
  }
  &.facebook {
    content: url("/images/icons/social/facebook-deff.svg");
  }
  &.instagram {
    content: url("/images/icons/social/instagram-deff.svg");
  }
}

.test_icon {
  content: url("/images/icons/social/instagram-deff.svg");
  margin: 5px 0 10px 0;
  width: 35px;
  height: 35px;
}