// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'media';

@font-face {font-family: "Gerbera";
  src: url("//db.onlinewebfonts.com/t/994fa1f12fbd90502c95b68c33efc23c.eot");
  src: url("//db.onlinewebfonts.com/t/994fa1f12fbd90502c95b68c33efc23c.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/994fa1f12fbd90502c95b68c33efc23c.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/994fa1f12fbd90502c95b68c33efc23c.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/994fa1f12fbd90502c95b68c33efc23c.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/994fa1f12fbd90502c95b68c33efc23c.svg#Gerbera") format("svg");
}
@font-face {font-family: "Gerbera-b";
  src: url("//db.onlinewebfonts.com/t/d5062d6c59c0db05efc3a6baf3d4c0ee.eot");
  src: url("//db.onlinewebfonts.com/t/d5062d6c59c0db05efc3a6baf3d4c0ee.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/d5062d6c59c0db05efc3a6baf3d4c0ee.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/d5062d6c59c0db05efc3a6baf3d4c0ee.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/d5062d6c59c0db05efc3a6baf3d4c0ee.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/d5062d6c59c0db05efc3a6baf3d4c0ee.svg#Gerbera") format("svg");
}
@font-face {font-family: "Gerbera-m";
  src: url("//db.onlinewebfonts.com/t/8e55cf2228217dcbc76a1fc8fbaf2a32.eot");
  src: url("//db.onlinewebfonts.com/t/8e55cf2228217dcbc76a1fc8fbaf2a32.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/8e55cf2228217dcbc76a1fc8fbaf2a32.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/8e55cf2228217dcbc76a1fc8fbaf2a32.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/8e55cf2228217dcbc76a1fc8fbaf2a32.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/8e55cf2228217dcbc76a1fc8fbaf2a32.svg#Gerbera") format("svg");
}
a:hover {
  text-decoration: none !important;
}
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.ml-80 {
  margin-left: 80px;
}

.btn-papayabot-blue {
  color: #fff;
  font-weight: bold;
  font-style: normal;
  font-family: Gerbera;
  font-size: 15px;
  font-stretch: normal;
  line-height: 2.07;
  letter-spacing: normal;
  background-color: #5438dc;
  padding: 9px 44px 10px 45px;
}

.btn-papayabot {
  color: #5438dc;
  font-weight: bold;
  font-style: normal;
  font-family: Gerbera;
  font-size: 15px;
  font-stretch: normal;
  line-height: 2.07;
  letter-spacing: normal;
  background-color: #ffffff;
  padding: 9px 44px 10px 45px;
}
h1 {
  font-size: 44px;
}
.title {
  font-family: Gerbera;
  font-weight: 400;
  color: #fff;
  margin: 0;

  &.header {

    font-size: 44px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: -0.4px;
    color: #ffffff;
  }
}

.timestamp {
  font-family: Gerbera;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.69;
  letter-spacing: normal;
  color: #74cfad;
}

.subtitle {
  opacity: 0.85;
  font-size: 17px;
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
  line-height: 1.65;
  letter-spacing: normal;
  color: #ffffff;
  margin: 18px 0 26px;
  @media (min-width: 1200px) {
    margin: 18px 143px 45px 0;
  }
}

.seemore {
  content: url("/images/icons/seemore.svg");
  margin-left: 10px;
  width: 14px;
  height: 8px;
}

html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}


header {
  &.about {
    overflow: hidden;
   background: url("/images/backgrounds/header-vector.svg") -26% -172px no-repeat, url("/images/backgrounds/rectangle.svg") 100% 100% no-repeat, linear-gradient(1deg, #220b6d, #4b33c2);
    .header-title {
      margin: 150px 5px 130px 5px;
    }
  }
  background: url("/images/backgrounds/header-vector.svg") 122% -1px no-repeat,
  url("/images/backgrounds/header-vector1.svg") -24px 100% no-repeat,
  linear-gradient(1deg, #220b6d, #4b33c2);
  padding: 30px 50px 50px 50px;
  .title-logo {
    height: 30px;
    object-fit: contain;
    font-family: Gerbera;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: -0.5px;
    color: #ffffff;
  }
  .home-bg {
    content: url("/images/backgrounds/header.png");
    width: 100%;
  }
  .about-bg {
    content: url("/images/backgrounds/about.png");
    width: 100%;
  }

  .header-title {
      margin: 0px 5px 130px 5px;
  }
}

section {
  .post-press {
    .post {
      overflow: hidden;
      background: white;
      border-radius: 20px;
      box-shadow: 11px 11px 46px 0 rgba(39, 40, 54, 0.07);
      .post-info {
        padding: 12px 24px;
      }
      img {
        width: 100%;
      }
      .toggle {
          cursor: pointer;
          color: #5438dc;
          font-weight: bold;
      }
    }
  }
  &.terms {
    margin-top: unset !important;
    background: #5438dc;
    .title-logo {
      color: white;
      padding: 25px;
    }
    .subtitle {
      max-width: 883px;
      height: 390px;
    }
  }
  &.custom {
    background: #f8f8fe;
    padding: 69px 0;
    margin-left: 10%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    &.revers {
      margin-left: unset;
      margin-right: 10%;
      border-top-left-radius:  unset;
      border-bottom-left-radius: unset;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
    }
    .custom-bg {
      content: url("/images/backgrounds/custom.png");
        width: 100%;
    }
    .custom-two-bg {
      content: url("/images/backgrounds/custom-two.png");
        width: 100%;
    }
      .about-team {
        @media (max-width:  991px) {
          flex-direction: column;
          .member-info {
            margin: 20px 0 0 0 !important;
            text-align: center;
          }
        }
        padding: 50px;
        border-radius: 20px;
        backdrop-filter: blur(7px);
        box-shadow: 11px 11px 67px 0 rgba(39, 40, 54, 0.08);
        background-color: rgba(255, 255, 255, 0.8);
        .member-img {
          width: 130px;
          height: 130px;
        }
      }
  }
  &.standard {
    .bitmap-bg {
      content: url("/images/backgrounds/bitmap.png");
      margin-left: -40px;
        width: 100%;
    }
    .bitmap-two-bg {
      content: url("/images/backgrounds/bitmap-two.png");
      margin-left: -40px;
        width: 100%;
    }
    .mobile-about {
      content: url("/images/backgrounds/mobile-about.png");
      margin-left: -40px;
        width: 100%;
    }

  }
  &.monitoring {
    margin: unset;
    background:  linear-gradient(1deg, #220b6d, #4b33c2);
    padding: 90px 0 148px 0;
    .title {
      color: white;
      width: 725px;
      height: 92px;
      font-family: Gerbera;
      font-size: 34px;
      margin: auto;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.35;
      letter-spacing: -0.6px;
      span {
        letter-spacing: -0.7px;
        color: #fdc06e;
      }
    }
    .monitoring-bg {
      width: 100%;

    }
  }
  &.contact {
    background:
            url(/images/icons/deff-yen.svg) 94% 68% no-repeat,
            url(/images/icons/deff-eu.svg) 67% 26% no-repeat,
            url(/images/icons/deff-doll.svg) 33% 78% no-repeat,
            url(/images/icons/rocket-rigth.svg) 74% 78% no-repeat,
            url(/images/icons/rocket.svg) 13% 33% no-repeat,
            linear-gradient(to top, #281075, #4b33c2);
    padding: 90px 0 100px 0;
    .title {
      color: white;
    }


  }
  &.transfer {
    margin: unset;
    background:  url(/images/icons/medium-chat-messege.png) 100% 115px no-repeat,
    url(/images/icons/deff-yen.svg) 94% 68% no-repeat,
    url(/images/icons/deff-eu.svg) 67% 26% no-repeat,
    url(/images/icons/deff-doll.svg) 33% 78% no-repeat,
    url(/images/icons/rocket-rigth.svg) 74% 78% no-repeat,
    url(/images/icons/rocket.svg) 13% 33% no-repeat,
    url(/images/icons/chat-messege.png) -1% 89% no-repeat,
    #f9f9fe;
    padding: 90px 0 200px 0;
    .transfer-setting {
      margin-top: -185px;
      .box {
        background: #230e65;
        align-items: center;
        border-radius: 15px;
        padding: 48px;
        justify-content: space-between;
        .transfer-param {
          padding: 20px;
          .icons {
            margin-bottom: unset;
            &.member-icon  {
              content: url("/images/icons/member.svg");
            }
            &.time-icon {
              content: url("/images/icons/time.svg");
            }
            &.money-icon {
              content: url("/images/icons/money.svg");
            }
          }
        }
        .title {
          font-family: Gerbera;
          font-size: 26px;
          font-weight: bold;
          margin: unset;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.15;
          letter-spacing: 1.1px;
          color: #ffffff;
        }
        .subtitle {
          opacity: 0.65;
          font-family: Gerbera;
          font-size: 15px;
          margin: unset;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.87;
          letter-spacing: 0.4px;
          color: #e7e1ff
        }
      }
    }
  }
  .header-title {
    .btn-papayabot-green {
      padding: 11px 18px 13px 18px;
      background-color: #73ceaf47;
      margin-bottom: 4.8%;
      .subtitle {
        margin: unset;
        font-size: 12px;
        font-weight: bold;
        color: #57c49d;
      }
    }
    .btn-papayabot-yellow {
      padding: 11px 18px 13px 18px;
      background-color: #fff1e0;
      margin-bottom: 4.8%;
      .subtitle {
        margin: unset;
        font-size: 12px;
        font-weight: bold;
        color: #fca858;
      }

    }
    .btn-papayabot-purple {
      padding: 11px 18px 13px 18px;
      background-color: #7363ff47;
      margin-bottom: 4.8%;
      .subtitle {
        margin: unset;
        font-size: 12px;
        font-weight: bold;
        color: #623ae0;
      }

    }

    .btn-papayabot-purple-black {
      padding: 11px 18px 13px 18px;
      background-color: #968ee247;
      margin-bottom: 4.8%;
      .subtitle {
        margin: unset;
        font-size: 12px;
        font-weight: bold;
        color: #968ee2;
      }

    }
  }

  margin-top: 100px;
  .mt-100 {
    margin-top: 100px;
  }
    .title {
      font-family: Gerbera;
      font-weight: 400;
      color: #000000;
      margin: 0;
    }
    .subtitle {
      width: 100%;
      font-size: 17px;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.65;
      letter-spacing: normal;
      color: #7b798b;
      margin: 18px 0 26px;
      &.description {
        font-size: 15px;
        font-weight: 500;
        letter-spacing: -0.1px;
        color: #76778d;
      }

    }

    .icons {
      margin-bottom: 29px;

      &.chat-icon {
        content: url("/images/icons/chat.svg");
      }
      &.platform-icon {
        content: url("/images/icons/platform.svg");
      }
      &.secure-icon {
        content: url("/images/icons/secure.svg");
      }
    }

}

footer {
  .title {
    object-fit: contain;
    font-family: Gerbera;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: -0.5px;
    color: #5438dc;
  }
  .pages-links {
    font-family: Gerbera;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: -0.4px;
    color: #0b0b0b;
    a {
      color: #000;
      text-decoration: none;
      background-color: transparent;
    }

  }
  .question {
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: -0.4px;
    color: #1b1b23;
    margin: 26px auto;
    span {
      font-weight: 900;
    }
  }
  .licence {
    font-family: Gerbera;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: normal;
    color: #9f9db2;
    margin-bottom: 12px;
  }



  .social-icon {
    ul {
      flex-direction: row !important;
    }
    @media (max-width:  992px) {
      position: relative;
      ul {
        flex-direction: row !important;
        justify-content: center;
        margin: auto;
      }
    }
  }

  @media (max-width:  992px) {
    .navbar-nav {

      a {
        margin: 10px !important;

      }
    }

  }


  .social-icon ul li {

    margin: 15px;
    margin-top: unset;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
  }
  .icon {
    display: flex;
    margin: auto;
    width: auto;
    transition: all .3s ease;
    &.facebook {
      content: url("/images/icons/social/facebook.svg");
    }
    &.twitter {
      content: url("/images/icons/social/twiter.svg");
    }
    &.linked {
      content: url("/images/icons/social/linked.svg");
    }
  }

}

.faq {
  .title {
    font-family: Gerbera;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.23;
    letter-spacing: -0.3px;
    color: #1b1b23;
  }
  .accordion-item .accordion-title {
    box-shadow: 11px 11px 67px 0 rgba(39, 40, 54, 0.08);
    background-color: rgba(255, 255, 255, 0.8);
    border: unset;
    border-radius: 20px;
    margin: 24px 0;
  }

  .accordion a {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    color: #1b1b23;
    font-size: 1.15rem;
    font-weight: 400;
  }

  .accordion a:hover,
  .accordion a:hover::after {
    cursor: pointer;
  }


  .accordion a.active {
    color: #03b5d2;
  }

  .accordion .accordion-title a::after  {
    font-family: 'Ionicons';
    content: url("/images/icons/seemore-faq.svg");
    position: absolute;
    float: right;
    right: 1rem;
    font-size: 1rem;
    color: #7288a2;
    padding: 5px 20px;
    text-align: center;
  }

  .accordion .accordion-title.active a::after {
    content: url("/images/icons/seemore-faq.svg");
    transform: rotate(180deg);
  }

  .accordion .content {
    opacity: 0;
    padding: 0 1rem;
    max-height: 0;
    overflow: hidden;
    clear: both;
    -webkit-transition: $faq_transl_start;
    -o-transition: $faq_transl_start;
    transition: $faq_transl_start;
    p {
      font-family: Gerbera;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2;
      letter-spacing: -0.5px;
      color: #7b798b87;
      span {
        color: #5438dc;
      }
    }
  }

  .accordion .content p {
    font-size: 1rem;
    font-weight: 300;
  }

  .accordion .content.active {
    opacity: 1;
    padding: 1rem;
    max-height: 100%;
    -webkit-transition: $faq_transl_finish;
    -o-transition: $faq_transl_finish;
    transition: $faq_transl_finish;
  }
}


@import url('https://fonts.googleapis.com/css?family=Hind:300,400');




